.App {
  text-align: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 5vh;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.card-img-overlay {
  background-image: url(https://static7.depositphotos.com/1008191/766/i/450/depositphotos_7666653-stock-photo-abstract-artistic-gray-background-with.jpg);
  background-size: 100%;
  padding: 8%;
  border-radius: 10px;
  opacity: 0.9;
}

.card:hover {
  border: 2px solid black;
}

img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.grayStr {
  margin-top: 2px;
  margin-bottom: 2px;
  opacity: 0.5;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

a {
  text-decoration: none;
  color: white;
}
